.button {
    margin: 0.5rem;
    height: 100px;
    width: 100px;
    border-radius: 25px;
    background: #ebe6e6;
    border: none;
    transition: box-shadow 10s ease-in;
}

.notPressed {
    transition: box-shadow 10s ease-in;
    font-size: 1.05em;
    box-shadow:  9px 9px 15px #cacaca,
             -9px -9px 15px #f6f6f6;
}

.pressed {
    transition: box-shadow 10s ease-in;
    font-size: 1em;
    text-transform: scale(0.9);
    box-shadow: inset 9px 9px 15px #cacaca,
                inset -9px -9px 15px #f6f6f6;
}